<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Random Word</title>
    <link rel="icon"  type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body class="container">
    
    <div class="title">

        <img src="./images/sand-clock.png" alt="Icon" width="64px">
        <h1>RandWord</h1>

</div>

    <div class="doc">
        <h2>WHAT YOU NEED TO KNOW ABOUT RANDWORD</h2> 
        <p>RandWord is a simple webApp that will help you build your vocabulary each day.</p>
        <p>Using RandWord will simply be a means for you to know new words and develop your knowledge about past ones
        </p>
        <p>To use RandWord, every new word gets generated each day and you can store and use those new words every day for use as at when needed. Cool right?😀</p>

        <a href="/start" id="start"><button>GET STARTED🚀</button></a>
    </div>
    <footer>
        <p>Made with ❤️ by <a href="https://github.com/theCephas">Iseoluwa</a> & <a href="https://github.com/Greatseun02">Seun</a> <a href="https://github.com/theCephas/RandWord"><img src="./images/github.png" alt=""></a> </p> 
    </footer>

    <script src="/index.js"></script>
</body>
</html>